<!doctype html>

<html lang="en">
  <head>
    <title>Archives - The Web Log</title>
    <link rel="stylesheet" href=":site-url/styles/site.css" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href=":site-url/favico.png"/>
  </head>

  <body>
    <h1> <a href=":site-url/">The Web Log</a></h1>

    <p>
      <a href=":site-url/about/">about</a> &bullet;
      <a href=":site-url/archive/">archive</a> &bullet;
      <a href=":site-url/contact/">contact</a> &bullet;
      <a href=":site-url/feeds/rss.xml">feed</a>
    </p>

    <hr/>
    <br/>

    <h1>Article Archive</h1>

    <ul>
      :article-list
    </ul>

    <br/>
    <hr/>
    <p>&copy; 2013 The Author

  </body>
</html>
